{% extends "base.html" %}
{% block title %} Editer un Compte (WTF) {% endblock %}
{% block body %}
	<h1>Test</h1>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer un Compte
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form_update.identifiant_compte_wtf.label }}<br>
						{{ form_update.identifiant_compte_wtf(size=32) }}<br>
						{% for error in form_update.identifiant_compte_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.mdp_wtf.label }}<br>
						{{ form_update.mdp_wtf(size=32) }}<br>
						{% for error in form_update.mdp_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.nom_wtf.label }}<br>
						{{ form_update.nom_wtf(size=32) }}<br>
						{% for error in form_update.nom_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.prenom_wtf.label }}<br>
						{{ form_update.prenom_wtf(size=32) }}<br>
						{% for error in form_update.prenom_wtf .errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.mail_wtf.label }}<br>
						{{ form_update.mail_wtf(size=32) }}<br>
						{% for error in form_update.mail_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.num_tel_wtf.label }}<br>
						{{ form_update.num_tel_wtf(size=32) }}<br>
						{% for error in form_update.num_tel_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_update.submit(class="btn btn-primary") }}

				{{ form_update.submit_btn_annuler(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

